.form-flex {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.form-container {
    background-color: #fff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 400px;
    align-content: center;
    border-radius: 5px;
}

